
.container {
    padding: 20px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #000000;
}


.filterButtons {
    margin-bottom: 20px;
}


.filterButton {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


.filterButton:hover {
    background-color: #0056b3;
}


.filterButtonActive {
    background-color: #0056b3;
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


.table thead th {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #0056b3;
}


.table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}


.table tbody td {
    padding: 10px;
    text-align: center;
}


.table tbody tr:hover {
    opacity: 0.8;
}


@media (max-width: 768px) {
    .table {
        display: block;
        overflow-x: auto;
    }

    .table thead,
    .table tbody,
    .table th,
    .table td,
    .table tr {
        display: block;

    }

    .table th {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #007bff;
    }
}
.table .proofButton {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 10px;

}