body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #000000);
    background-size: cover;
    min-height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    position: fixed;
    width: 98%;
    top: 0;
    left: 0;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.logo {
    height: 50px;
    animation: heartbeat 2s infinite;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 10px;
}

.nav-links button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}

.nav-links button:hover {
    opacity: 0.8;
}

.main-content {
    padding: 100px 20px;
    margin-top: 60px;
    flex-grow: 1;
}

.main-title {
    font-size: 4em;
    margin-bottom: 10px;
    color: #1e1e1e;
}

.main-subtitle {
    font-size: 2em;
    margin-bottom: 30px;
    background: linear-gradient(30deg, #F4C4F3, #f6c1f5, #ff0ffc); /* Gradiente estilo rosado */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.buttons button {
    border: none;
    border-radius: 20px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1em;
}

.buttons .discord {
    background-color: #ffffff;
    color: #1e1e1e;
}

.buttons .tienda {
    background-color: #1e1e1e;
    color: #ffffff;
}

.buttons button:hover {
    opacity: 0.8;
}

/* Responsivo para dispositivos móviles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-links {
        margin: 10px 0;
        justify-content: center;
    }
}

/* Logo palpitante */
.logo-heartbeat {
    animation: heartbeat 3s infinite;
}

/* Página de inicio con imagen de fondo, degradación de color, y desenfoque ajustable */
.home-page {
    position: relative;
    min-height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.home-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/img.png'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* Desenfoque gaussiano, ajustable */
    z-index: -2;
}

.home-page::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)); /* Degradación de color */
    z-index: -1;
}
