.login-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/igmfondo.png');
    /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    /* Desenfoque gaussiano, ajustable */
    z-index: -2;
}

.login-page .login-container {
    background-color: rgb(243, 243, 243);
    color: #1e1e1e;
    border-radius: 10px;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 50px rgba(21, 21, 21, 0.1);
    margin: 20px auto;
}

.login-page .login-title {
    font-size: 0;
    margin-bottom: 1px;
    color: transparent;
    /* Configura la imagen de fondo de login */
    background-image: url('../public/LOGIN-17-08-2024.png');
    background-size: contain;
    background-position:20px;
    background-repeat: no-repeat;
    /* Ajusta el tamaño del contenedor */
    width: 90%;
    height: 120px;
}


.login-page .login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-page .login-button, .login-page .discord-login {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.login-page .discord-login {
    background-color: #7289da;
}

.login-page .discord-login img {
    vertical-align: middle;
    margin-right: 8px;
}

.login-page .other-options p {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .login-page .login-container {
        padding: 20px;
    }

    .login-page .login-title {
        font-size: 1.5em;
    }

    .login-page .login-button, .login-page .discord-login {
        padding: 10px;
    }
}